@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@keyframes topbottom{
    0%{
        transform:translateY(0);
    }
    25%{
        transform:translateY(-10px);
    }
    50%{
        transform:translateY(-15px);
    }
    75%{
        transform:translateY(-10px);
    }
    100%{
        transform:translateY(0);
    }
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
    background-color: rgb(43,43,43);
    color:white;
}
nav{
    height:7vh;
    width:3rem;
    display:flex;
    align-items:center;
    font-weight: 100;
    padding-left:1em;
}
nav h3{
    font-family:"Quicksand",sans-serif;
}

.container{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin-top:4%;
    
}



button{
    border:none;
    border-radius:100px;
    padding:1rem;
    font-size:large;
    background-color:rgb(211, 12, 12);
    transition:0.8s ease-in-out;
}
button:hover{
    padding-right:2rem;
}



.right{
    width:60%;
    height:85vh;
    border-radius:25px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.front{
    width:30%;
    height:80vh;
    background-color:rgb(230, 230, 230);
    border-radius:10px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.9);
    animation: topbottom 5s ease-in-out alternate infinite;
}

.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(230, 230, 230);
    border-radius:20px;
}
.top img{
    width:15%;
    height:5%;
    border-radius:15px;
    background-color:rgb(230, 230, 230);
    border:none;

}
.top div h2{
    font-size:medium;
    background-color:rgb(230, 230, 230);
    color:rgb(0,0,0);
    border:none;
}
.top div p{
    font-size:small;
    background-color:rgb(230, 230, 230);
    color:rgb(0,0,0);
    border:none;
}



.centre{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    margin-left:2em;
    gap:0.5em;
    background-color:rgb(230, 230, 230);
    margin-top:5%;
}
.centre img{
    width:40%;
    height:35%;
}
.barcode{
    width:3em;
    height:11em;
    background-color:rgb(0,0,0);
}

.admno p{
    background-color:rgb(230, 230, 230);
    color:rgb(0,0,0);
}



.name h2{
    color:rgb(0,0,0);
    background-color:rgb(230, 230, 230);
    font-size:small;
    padding-left:2em;
}



.main{
    width:54%;
    height:23%;
    background-color:rgb(230, 230, 230);
    margin-left:2em;
    margin-top:3%;
    font-size:small;
}
.main p{
    background-color:rgb(230, 230, 230);
    color:rgb(0, 0, 0);
}
.main p strong{
    background-color:rgb(230, 230, 230);
    color:rgb(0,0,0);
}



.footer{
    width:85%;
    height:18%;
    margin-left:2em;
    font-size:x-small;
    background-color:rgb(230, 230, 230);
}
.footer p{
    background-color:rgb(230, 230, 230);
    color:rgb(0, 0, 0);
}
.footer .principal{
    display:flex;
    justify-content:flex-end;
    font-size:medium;

    
}








.back{
    width:30%;
    height:80vh;
    background-color:rgb(230, 230, 230);
    border-radius:10px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.9);
    animation: topbottom 5s ease-in-out alternate-reverse infinite;
}

.head{
    height:20%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    background-color:rgb(230, 230, 230);
    color:rgb(0,0,0);
    border-radius:18px;
    margin-right:2rem;
}
.head h2{
    background-color:rgb(230, 230, 230);
    color:rgb(0,0,0);  
}

.box{
    width:90%;
    height:55%;
    background-color:rgb(230, 230, 230);
    color:rgb(0, 0, 0);
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.box .a strong p{
    background-color:rgb(230, 230, 230);
    color:rgb(0, 0, 0);
}
.box .b p{
    background-color:rgb(230, 230, 230);
    color:rgb(0, 0, 0);
}

.qr-footer{
    width:90%;
    height:20%;
    background-color:rgb(230, 230, 230);
    color:rgb(0, 0, 0);
    display:flex;
    justify-content:center;
    align-items:center;
}
.qr-footer p{
    background-color:rgb(230, 230, 230);
    color:rgb(0, 0, 0);
}
.qr{
    width:30%;
    height:80%;

}

@media (max-width:850px){
    .front{
        width:35%;
    }
    .back{
        width:35%;
    }

}
@media (max-width:770px){
    .left{
        display:none;
    }
    .front{
        width:45%;
    }
    .back{
        width:45%;
    }
}
@media (max-width:640px){
    .left{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        height:100vh;
    }
    .container{
        flex-direction:column;
    }
    .front,.back{
        width:80%;
        margin:1rem;
    }
}